<template name="newPlantsareaItem">
    <form id="newPlantsareaItemForm" class="form-controls-font">
        <div class="form-group">
            <div class="controls">
                <label class="control-label">
                    <input name="name_plantsareaItem" type="text" class="form-control required" placeholder="Plantsarea name"/>
                </label>
                <div>
                    <button id="submitNewPlantsareaItem" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
</template>