<template name="plantsareaItem">
    <div class="post" {{attributes}}>
        <!--<a href="#" class="upvote btn {{upvotedClass}}">⬆</a>-->
        <div class="post-content">
            <h3> {{name}} ({{numberOfSensors}} sensor(s)) </h3>
            <p>
                <!--{{pluralize votes "Vote"}},-->
                <!--submitted by {{author}},-->
                <!--<a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>-->
                <!--{{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}-->
            </p>
        </div>
        <!--<a href="{{pathFor 'deletePlantsareaPage'}}" class="discuss btn btn-default">Delete</a>-->
        <a href="{{pathFor 'plantsareaEdit'}}" class="discuss btn btn-default">Edit</a>
        <a href="{{pathFor 'plantsareaPage'}}" class="discuss btn btn-default">Sensors</a>
    </div>
</template>