<template name="plantsareaPage">
    <div class="post">
        <div class="post-content">
            <h3> {{name}} ({{numberOfSensors}} sensors) </h3>
        </div>
        <a href="{{pathFor 'plantsareaEdit'}}" class="discuss btn btn-default">Edit</a>
    </div>
    <div>
        {{#each sensors}}
            {{> sensor}}
        {{/each}}
    </div>

        <!--{{#if currentUser}}-->
    <!--{{> commentSubmit}}-->
        <!--{{else}}-->
    <!--<p>Please log in to leave a comment.</p>-->
        <!--{{/if}}-->
</template>