<template name="sensorSubmit">
    <form name="sensorSubmit" class="comment-form">
        <div class="form-group">
            <div class="controls">
                <label>Measurable type
                    <input name="measurableType" type="text" class="form-control required"/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label>Measuring timeout
                    <input name="measuringTimeout" type="text" class="form-control required"/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label>On
                    <input name="isOn" type="text" class="form-control required"/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label>Custom
                    <input name="isCustom" type="text" class="form-control required"/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn">Save</button>
            </div>
        </div>
    </form>
</template>