<template name="messageItem">
    <div style="border: lawngreen solid 3px; margin: 5px; display: inline-block; padding: 5px;">
        {{#with this}}
            <label><strong>Send: {{dateTime}}, Value: {{parameterValue}}</strong></label>
            <button id="closeMessage" style="margin: 5px;" class="btn btn-primary navbar-right">❌</button>
            <a href="{{pathFor route='messagePage' _id = this._id}}" style="float: right; margin: 5px">Watch</a>
        {{/with}}
    </div>
</template>