<template name="messageItem">
    <div class="container" style="width: 800px">
        {{#with this}}
            <form>
                <button id="closeMessage" class="btn btn-primary navbar-right" style="float: right">Close</button>
                    <a href="{{pathFor route='messagePage' _id = this._id}}" style="width: 85%">
                        <strong>Send: {{dateTime}}, Value: {{parameterValue}}</strong>
                    </a>
            </form>
        {{/with}}
    </div>
</template>