<template name="messagePage" xmlns="http://www.w3.org/1999/html">
    {{> messageItem}}
    <div>
        Email addresses:
        {{#if emailsCount}}
            <span class="badge badge-inverse">{{emailsCount}}</span>
        {{/if}}
        <select id="emailsSelect" title="Emails">
            {{#if emailsCount}}
                {{#each emails}}
                    <option value="{{ownerId}}">{{emailOwner}}({{emailItem}})</option>
                {{/each}}
            {{else}}
                <option>No emails</option>
            {{/if}}
        </select>
    </div>
    <br/>
    <div class="container">
        <input id="chosenEmails" disabled="disabled" type="text" style="margin-left: -20px; width: 80%"/>
        <button id="sendEmails" class="navbar-nav btn btn-primary" style="float: right">Send</button>
        <button id="clearEmails" class="navbar-nav btn btn-primary" style="margin-right: 10px; float: right">Clear</button>
    </div>
    <label id="successResult" class="text-success"></label>
    <label id="errorResult" class="text-danger"></label>
</template>